<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">

    <!---owl css-->
    <link rel="stylesheet" href="style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="style/owl/owl.theme.default.min.css">

    <!--responsividade-->
    <link rel="stylesheet" href="style/responsive.css">

    <title>Netflix</title>
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="/">
                <h2>NETFLIX</h2>    
            </a>
            <nav>
                <a href="/">Inicio</a>
                <a href="/series">Séries</a>
                <a href="/filmes">Filmes</a>
                <a href="/mais-recentes">Mais recentes</a>
                <a href="/minha-lista">Minha lista</a>
                <a href="/categorias">Categorias</a>
            </nav>
        </div>
    </header>